/* [이미지 출처 정리]
테이블 배경: https://www.renderhub.com/cgaxis/red-fabric-pbr-texture11,
주사위들 : https://upload.wikimedia.org/wikipedia/commons/7/77/Platonic_Solids_Transparent.svg,


pic QuestionMark. https://www.cleanpng.com/png-question-mark-png-41220
pic HistoryMark. https://www.hiclipart.com/free-transparent-background-png-clipart-mipau/download
pic dicetable. https://kor.pngtree.com/freepng/vector-billiards-table_2845091.html
pic gamezon original https://kor.pngtree.com/freepng/neon-frame_4647642.html
pic D 6. https://www.vhv.rs/viewpic/bwTix_dice-png-icon-transparent-png/
pic D20. https://www.blackscrollsgames.com/362284-200/ 
pic D12. https://visualpharm.com/assets/212/Dodecahedron-595b40b75ba036ed117d7c77.svg
pic D 8. https://www.visualpharm.com/free-icons/octahedron-595b40b75ba036ed117d99d7 */

#cir1 {
    width: 100px;
    height: 100px;
    opacity: 37%;
    background-color: rgb(110, 32, 235);
    top: 342px;
    left: 352px;
    z-index: -7;
    border-radius: 50%;
    position: absolute;
    animation: circle1 45s alternate-reverse infinite;
}

#cir2 {
    width: 265px;
    height: 246px;
    opacity: 25%;
    background-color: rgb(77, 143, 136);
    top: 704px;
    left: 621px;
    z-index: -6;
    border-radius: 50%;
    position: absolute;
    animation: circle2 60s alternate-reverse infinite;
}

#cir5 {
    width: 198px;
    height: 189px;
    opacity: 34%;
    background-color: rgb(255, 224, 166);
    top: 427px;
    left: 1200px;
    z-index: -5;
    border-radius: 50%;
    position: absolute;
    animation: circle3 60s alternate-reverse infinite;
}

#cir6 {
    width: 254px;
    height: 245px;
    opacity: 28%;
    background-color: rgb(216, 112, 207);
    top: 427px;
    left: 1550px;
    z-index: -4;
    border-radius: 50%;
    position: absolute;
    animation: circle4 60s alternate-reverse infinite;
}

@keyframes circle1 {
    0% {
        top: 342px;
        left: 352px;
        background-color: rgb(110, 32, 235);
    }

    33% {
        top: 280px;
        left: 432px;
        background-color: rgb(130, 32, 235);
    }

    67% {
        top: 382px;
        left: 502px;
        background-color: rgb(130, 82, 235);
    }

    100% {
        top: 342px;
        left: 352px;
        background-color: rgb(110, 32, 235);
    }
}

@keyframes circle2 {
    0% {
        top: 704px;
        left: 621px;
        background-color: rgb(77, 143, 136);
    }

    33% {
        top: 502px;
        left: 1120px;
        background-color: rgb(90, 143, 235);
    }

    67% {
        top: 164px;
        left: 610px;
        background-color: rgb(130, 82, 235);
    }

    100% {
        top: 372px;
        left: 621px;
        background-color: rgb(77, 143, 136);
    }
}

@keyframes circle3 {
    0% {
        width: 198px;
        height: 189px;
        top: 427px;
        left: 1200px;
        background-color: rgb(255, 224, 166);
    }

    33% {
        width: 300px;
        height: 300px;
        top: 1000px;
        left: 652px;
        background-color: rgb(255, 82, 173);
    }

    67% {
        width: 421px;
        height: 412px;
        top: 700px;
        left: 321px;
        background-color: rgb(130, 82, 235);
    }

    100% {
        width: 198px;
        height: 189px;
        top: 164px;
        left: 621px;
        background-color: rgb(255, 224, 166);
    }
}

@keyframes circle4 {
    0% {
        border-radius: 50%;
        top: 427px;
        left: 1550px;
        background-color: rgb(216, 112, 207);
    }

    33% {
        border-radius: 30%;
        top: 105px;
        left: 1000px;
        background-color: rgb(90, 143, 235);
    }

    67% {
        border-radius: 70%;
        top: 402px;
        left: 820px;
        background-color: seashell
    }

    100% {
        border-radius: 50%;
        top: 427px;
        left: 1700px;
        background-color: rgb(216, 112, 207);
    }
}


.gametable {
    position: absolute;
    font-family: SEBANG_Gothic_Bold;
    background-image: url(./pics/table_texture.png);
    background-repeat: repeat;
    width: 1780px;
    height: 800px;
    left: 50%;
    top: 47%;
    margin-left: -900px;
    margin-top: -400px;
    opacity: 0.8;
    z-index: 1;

    border: 20px brown outset;
}

.howtoplay {
    position: relative;
    text-align: center;
    font-size: 45px;
    top: 5%;
    color: yellow;
}

.ok {
    position: relative;
    background-color: brown;
    color: whitesmoke;
    text-align: center;
    width: 150px;
    height: 50px;
    left: 90%;
    top: 84%;
    font-size: 25px;
    border: 8px crimson outset;
    line-height: 50px;
    z-index: 2;
}

.ok:hover {
    border: 8px crimson inset;
}

#dicechoose {
    position: relative;
    color: whitesmoke;
    top: 45%;
    left: 50%;
    width: 500px;
    height: 300px;
    margin-left: -250px;
    margin-top: -150px;
}

.typing {
    position: absolute;
    font-family: SEBANG_Gothic_Bold;
    top: 93%;
    left: 420px;
    background-color: darkgreen;
    width: 200px;
    height: 30px;
    font-size: 16px;
    color: whitesmoke;
    border: 4px brown inset;
}

.submit {
    font-family: SEBANG_Gothic_Bold;
    position: absolute;
    top: 93%;
    left: 650px;
    background-color: darkgreen;
    width: 50px;
    height: 39px;
    font-size: 16px;
    color: whitesmoke;
    border: 4px brown inset;
}

.submit:hover {
    border: 4px brown outset;
}

.a {
    background-color: rgba(7, 6, 12, 0.842);
}

.ap {
    background-color: rgba(14, 12, 24, 0.842);
}

.an {
    background-color: rgba(51, 44, 85, 0.842);
}

.chart {
    font-family: SEBANG_Gothic_Bold;
    font-size: 20px;
    color: aliceblue;
    position: absolute;
    display: table;
    width: 640px;
    left: -600px;
    height: 860px;
    top: 49%;
    margin-top: -430px;
    border-spacing: 8px;
    opacity: 0.9;
}

.info {
    position: relative;
    font-size: 15px;
    background-color: black;
    vertical-align: middle;
    height: 25px;
    line-height: 25px;
}

.devider {
    height: 5px;
    line-height: 5px;
    background-color: #215;
}

.titlecell {
    position: relative;
    font-size: 30px;
    background-color: rgb(8, 8, 65);
    vertical-align: middle;
    height: 45px;
    line-height: 45px;
    margin: 10px;
}

.di {
    width: 100px;
    height: 100px;
    margin: 20px;
    animation: dmove alternate ease-in-out infinite 10s;
}

@keyframes dmove {
    from {
        transform: rotate(20deg);
        transform: scale(1.05, 1.05);
    }

    to {
        transform: rotate(-10deg);
        transform: scale(1.10, 1.10);
    }

}

#dice20_1 {
    position: absolute;
    left: 200px;
    top: 100px;
    z-index: 4;
}

#dice20_2 {
    position: absolute;
    left: 400px;
    top: 175px;
    z-index: 5;
}

#dice20_3 {
    position: absolute;
    left: 750px;
    top: 500px;
    z-index: 6;
}

#dice20_4 {
    position: absolute;
    left: 800px;
    top: 50px;
    z-index: 7;
}

#dice20_5 {
    position: absolute;
    left: 5%;
    top: 600px;
    z-index: 8;
}

#dice6_1 {
    position: absolute;
    left: 5%;
    top: 600px;
    z-index: 4;
}

#dice6_2 {
    position: absolute;
    left: 50%;
    top: 200px;
    z-index: 5;
}

#dice6_3 {
    position: absolute;
    left: 10%;
    top: 100px;
    z-index: 6;
}

#dice6_4 {
    position: absolute;
    left: 327px;
    top: 483px;
    z-index: 7;
}

#dice6_5 {
    position: absolute;
    left: 500px;
    top: 171px;
    z-index: 8;
}

.fix {
    background: radial-gradient(aliceblue 10%, crimson 40%, aliceblue 50%, crimson 70%);
    border-radius: 10%;
}